.main-form {
  background-color: #f4f8fb;
}
.form-container {
  max-width: 700px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 50px;
}
h3 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}
.error-text{
  color: red;
}
