<!-- Start services -->
<section class="services section py-5 mt-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 class="fw-bold">Nos differentes Services</h2>
          <img src="/assets/img/section-img.png" alt="Section Image" class="my-3">
          <p class="text-muted">Offrir des services médicaux de premier ordre pour une vie plus saine.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Service -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="fas fa-stethoscope service-icon"></i>
          <h4><a href="service-details.html">Traitement General</a></h4>
          <p>Services médicaux professionnels assurant des soins de santé complets.</p>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="fas fa-tooth service-icon"></i>
          <h4><a href="service-details.html">Traitement Dentaire</a></h4>
          <p>Procédures dentaires avancées pour un sourire plus éclatant et plus sain.</p>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="fas fa-heartbeat service-icon"></i>
          <h4><a href="service-details.html">Coeur</a></h4>
          <p>Des interventions chirurgicales cardiaques spécialisées pour assurer un cœur fort et en bonne santé.</p>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="fas fa-ear-listen service-icon"></i>
          <h4><a href="service-details.html">Traitements d'oreilles</a></h4>
          <p>Services complets de soins de l’oreille pour améliorer votre audition.</p>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="fas fa-eye service-icon"></i>
          <h4><a href="service-details.html">Problemes de Vision</a></h4>
          <p>Solutions avancées de soins oculaires pour améliorer votre vision.</p>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="fas fa-tint service-icon"></i>
          <h4><a href="service-details.html">Transfusion Sanguine</a></h4>
          <p>Services de transfusion sanguine sûrs et fiables.</p>
        </div>
      </div>
    </div>
  </div>
</section>



