<!-- Slider Area -->
<section class="slider">
  <div class="hero-slider">
    <!-- Start Single Slider -->
    <div class="single-slider" style="background-image: url('/assets/img/slider3.jpg'); background-size: cover; background-position: center;">
      <div class="container">
        <div class="row justify-content-center align-items-center text-center text-lg-start">
          <div class="col-lg-7 col-md-10 col-12">
            <div class="text">
              <h1>Bienvenue sur <span>Thiellal</span>, Qu'est-ce qu'on peut <span>Faire!</span></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam.</p>
              <div class="d-flex flex-column flex-md-row gap-3 justify-content-center justify-content-lg-start">
                <a routerLink="/cabinets" class="btn btn-primary">Prendre un Rendez-vous</a>
                <a href="#" class="btn btn-outline-primary">Contactez-nous</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Single Slider -->
  </div>
</section>

<!-- Schedule Area -->
<section class="schedule py-5">
  <div class="container">
    <div class="schedule-inner">
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single schedule -->
          <div class="single-schedule text-center p-4 border rounded shadow">
            <div class="icon mb-3">
              <i class="fa fa-ambulance fa-3x text-primary"></i>
            </div>
            <h4>Cas D'urgences</h4>
            <p>Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in lacus convallis sodales.</p>
            <a href="#" class="btn btn-link">En SAVOIR PLUS <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single schedule -->
          <div class="single-schedule text-center p-4 border rounded shadow">
            <div class="icon mb-3">
              <i class="icofont-prescription fa-3x text-primary"></i>
            </div>
            <h4>Horaires des médecins</h4>
            <p>Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in lacus convallis sodales.</p>
            <a href="#" class="btn btn-link">EN SAVOIR PLUS <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <!-- Single schedule -->
          <div class="single-schedule text-center p-4 border rounded shadow">
            <div class="icon mb-3">
              <i class="icofont-ui-clock fa-3x text-primary"></i>
            </div>
            <h4>Horaires D'ouverture</h4>
            <ul class="list-unstyled">
              <li><strong>Lundi - Vendredi :</strong> 8.00-20.00</li>
              <li><strong>Samedi :</strong> 9.00-18.30</li>
              <li><strong>Mardi - Jeudi :</strong> 9.00-15.00</li>
            </ul>
            <a href="#" class="btn btn-link">EN SAVOIR PLUS <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
